

.logo-border {

  width: 100px; /* Kohandage konteineri laiust vastavalt vajadusele */
  height: 100px; /* Kohandage konteineri kõrgust vastavalt vajadusele */
}

.main {
  background-image: url(Pildid/Lapsed_toas_suurendatud.jpeg);
  height: 70vh;
  padding: 0%;
  background-attachment: fixed;
  margin-top: 2.5%;
}

body {
  background-color: aqua;
}

#pealkiri {
  font-size: 7em;
}

section {
  min-height: 60vh;
  max-height: max-content;
}

#teenused-pealkiri {
  padding-bottom: 8%;
}

.accordion-item {
  margin-bottom: 2%;
}

.esimene-teenus {
  margin-left: 0%;
  margin-right: 10%;
}
.teine-teenus {
  margin-left: 5%;
  margin-right: 5%;
}
.kolmas-teenus {
  margin-left: 10%;
}

.tag {
  opacity: 0.5;
  transform: translate(0, 10vh);
  transition: all 1s;
}
.tag.visible {
  opacity: 1;
  transform: translate(0, 0);
}




.carousel-item .d-flex {
  width: 80%;
  margin: auto;
}
.carousel-item .d-flex .text {
  margin: auto;
  padding: 1%;
}

.carousel img {
  height: 400px;
  width: 400px;
}

#about svg {
  width: 500px;
  height: 500px;
}

#about p {
  font-size: 1.5em;
  width: 60%;
}
#about > .container > .container {
  display: flex;
  align-items: center;

}
.Oskari-pilt {
  background-image: url(Pildid/Oskar_töötamas_lõigatud.jpeg);
}


